/* ============================================================================
	Config
   =========================================================================== */	

/* Colors
   ============================================================================ */	

   $color--gray: #666;
   $color--light-gray: #f5f5f5;
   $bg-color: #20B2AA;
   $bg-color-2: #48D1CC;
/* Grid
   ============================================================================ */	

   $grid-width: 1000px;
   