/* ============================================================================
	Typography
   =========================================================================== */	

   .title {
   	margin: 15px 0;
   	font-size: 32px;
   	font-family: Helvetica,Arial,sans-serif;
   	color: $color--gray;
   	text-align: center;
   }